nav {
    width: 250px;

    h1 {
        font-size: 1.5rem;
        font-weight: 500;

        margin: 8px;
    }

    ul {
        li {
            padding: 8px;
            font-size: 14px;
            font-weight: 500;

            &:hover {
                background-color: var(--highlight-color);
                color: var(--font-color);
                border-radius: 0 var(--size-1) var(--size-1) 0;
                border: none;
                min-width: 100px;
            }

            &.active {
                background-color: var(--primary-color);
                color: var(--on-primary-color);
            }

            cursor: pointer;
        }
    }
}

@media (max-width: 950px) {
    nav {
        display: none;
    }
}
