$primary-color: #0078d4;
$primary-color-darken: darken($primary-color, 10%);
$primary-color-lighten: lighten($primary-color, 20%);

$primary-color-dark-mode: #0060aa;
$primary-color-darken-dark-mode: darken($primary-color-dark-mode, 10%);
$primary-color-lighten-dark-mode: lighten($primary-color-dark-mode, 20%);

body {
    font-size: larger;
    --size-05: 0.5rem;
    --size-1: 1rem;
    --size-2: 1.2rem;
    --size-3: 1.5rem;

    --background-color: #ffffff;

    --primary-color: #{$primary-color};
    --primary-color-darken: #{$primary-color-darken};
    --primary-color-lighten: #{$primary-color-lighten};
    --primary-bg-color: #ffffff;
    --primary-bg-color-darken: #{darken(#ffffff, 15%)};
    --primary-line-color: rgb(0, 0, 0);

    --hover-color-transparent: rgba(0, 0, 0, 0.4);
    --hover-color: #{darken(#0078d4, 20%)};

    --font-color: #ffffff;
    --font-color-darken: #{darken(#ffffff, 30%)};
    --font-color-deactivated: rgb(92, 92, 92);

    --secondary-font-color: #141414;

    --zoom-size: 1px;
}

@media (prefers-color-scheme: dark) {
    body {
        --background-color: #181a1b;

        --primary-color: #{$primary-color-dark-mode};
        --primary-color-darken: #{$primary-color-darken-dark-mode};
        --primary-color-lighten: #{$primary-color-lighten-dark-mode};
        --primary-bg-color: #181a1b;
        --primary-bg-color-darken: #{darken(#181a1b, 5%)};
        --primary-line-color: #c2c2c2;

        --hover-color-transparent: rgba(0, 0, 0, 0.4);
        --hover-color: #{darken(#0060aa, 20%)};

        --font-color: #ffffff;
        --font-color-darken: #{darken(#ffffff, 30%)};
        --font-color-deactivated: rgb(92, 92, 92);

        --secondary-font-color: #ffffff;
    }
}
